
a {
 text-decoration: none;
  color: #8d0adf;
 }

img {
max-width: 100%;

}

 body {
   font-family: 'Open Sans', sans-serif;
 }

  #picStuff {
   text-align: center;
   font-size: 10px;
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
 }

 #wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;

 }

#typingLesson {
   text-align: center;
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
}



 h3 {
     margin: 0 0 1em 0;
 }


/*************************************
HEADING
**************************************/

header {
  float: left;
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  width: 100%;

}

 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: bolder;
 text-align: center;

   color: #8d0adf;

 }

 h2  {
 font-size: 1.00em;
 font-weight: normal;
 margin: -5px 0 0;
 }


h3  {
    font-size: 1.1em;
    font-weight: 700;
    margin: 15px 0 0;
}


/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: left;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}

/*************************************
FOOTER
**************************************/
 .footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

/*************************************
GTO:
**************************************/
.capital {
    display: block;
    max-width: 800px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

.cristo {
    display: block;
    max-width: 800px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

.presa {
    display: block;
    max-width: 800px;
    margin: 0 auto 30px;
    border-radius: 5px;
}



 /*************************************
PAGE: ABOUT
**************************************/
.profile-photo {
    display: block;
    max-width: 350px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

/*************************************
COLORS
**************************************/


  header {
   background: #8d0adf;
   border-color: #8d0adf;
 }



/* nav background on mobile devices*/
nav {
   background: #8d0adf;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #8d0adf;
}
/* site body*/
body {
    background-color: #fff;
    color: #000;
}